<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Impeached_Expansion_All</string>
	<string>Impeached_Expansion_All_Ads</string>
	<string>Impeached_Expansion_Legislation</string>
	<string>Impeached_Expansion_International</string>
	<string>Impeached_Expansion_SecondChance</string>
	<string>Impeached_Expansion_SuddenDeath</string>
	<string>Impeached_Support_Developer_10</string>
</array>
</plist>
