<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Relax_AAAAA_Unlimited</string>
	<string>Relax_BAAAA_5_credits</string>
	<string>Relax_CAAAA_1_credits</string>
</array>
</plist>
