<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Metadata</key>
	<dict>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>Text</key>
			<string>Until the timer runs out</string>
			<key>TimeFormat</key>
			<integer>0</integer>
			<key>Incompatibility</key>
			<dict/>
		</dict>
		<dict>
			<key>Text</key>
			<string>Until someone drinks or loses</string>
			<key>TimeFormat</key>
			<integer>-1</integer>
			<key>Incompatibility</key>
			<dict>
				<key>Who</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Until everyone&apos;s had a turn</string>
			<key>TimeFormat</key>
			<integer>-1</integer>
			<key>Incompatibility</key>
			<dict>
				<key>Who</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Now</string>
			<key>TimeFormat</key>
			<integer>-1</integer>
			<key>Incompatibility</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
