<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Metadata</key>
	<dict>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>Text</key>
			<string>Take a sip</string>
			<key>Incompatibility</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
