<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Metadata</key>
	<dict>
		<key>Version</key>
		<integer>3</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>Text</key>
			<string>Take a sip</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Play Never Have I Ever</string>
			<key>Incompatibility</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
